body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  color:rgb(218,190,206);
  font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 32px;
}

h2 {
	font-size: 56px;
}


.hero {
  color:#ffffff;
  background-image:url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  font-family:'Trebuchet MS', Helvetica, sans-serif;
	padding: 250px 0;
	margin: 30px;
}


p {
font-size: 2rem;
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}
#footer{
  font-size:0.75rem;
}
