html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  a {
    color: #204156;
    text-decoration: none;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
  }
  
  .page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
  }
  
  .gallery {
    justify-content:center;
    display:flex;
    flex-wrap:wrap;
    margin-top: 20px;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    border: 5px solid #fff;
  }
  
  /* FOOTER NAVIGATION */
  
  nav {
    background-color: #FFF;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
  }
  
  nav ul {
    display: inline;
  }
  
  .contact-btn {
    float: right;
  }
  
  .contact-btn a {
    position:relative;
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
  
  }
  
  .contact-btn a:active {
      top:2px;
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
  
  