body {
    background-color: #FFF;
    margin: 0;
    padding: 0px 60px;
  }
  
  .header {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    overflow-y: auto;
    width: 100%;
  }
  
  ul {
    margin: 30px auto;
    text-align: center;
  }
  
  li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 40px;
  }
  
  li:hover {
    color: #DBE9EE;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 40px auto;
  }
  
  h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  .welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    position: fixed;
    left: 0;
    top: 80px;
    text-align: center;
    width: 100%;
    z-index: 999;
  }
  
  .question {
    margin: 120px auto;
    position: relative;
    top: 240px;
    text-align: center;
  }
  
  .answer {
    border: 1px solid #466995;
    display: inline-block;
    height: 100px;
    margin: 20px;
    padding-top: 40px;
    width: 220px;
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
  }
  div.question{
    
  }
  div.answer {
  }